body{
    font-family: 'Rationale', sans-serif;
    padding: 0 10px 10px 10px;
    font-size: 16px;
}
button {
    padding: 5px 10px;
    margin: 10px;
    background-color: #52c041;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
}
.i-11, .i-2{
    font-size: 18px;
    width: 150px;
    color: #018df8;
}
/*textarea, input{*/
/*    font-size: 15px;*/
/*    color: mediumblue;*/
/*}*/
/*table, td{*/
/*    border: 2px solid #7183a0;*/
/*    font-size: 25px;*/
/*    color: white;*/
/*}*/
/*#1{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: space-around;*/
/*    align-content: center;*/
/*    align-items: baseline;*/
/*}*/

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;

}

#qualifier, #qualif {
    display: grid;
    grid-template-columns: 0.7fr 1fr 2fr;
    justify-content: space-around;
    align-items: flex-start;
    grid-gap: 20px;
    width: 90%;

}

#qualifier div, #qualif div{
    background-color: #e7f7ed;
    font-size: 17px;
    padding: 10px 20px 20px 20px;
}

.out-11, .out-21{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}