body{
    font-family: 'Roboto Mono', monospace;
    padding: 0 10px 10px 10px;
    font-size: 16px;
}
button {
    padding: 5px 10px;
    margin: 10px;
    background-color: #52c041;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
}
span{
    font-size: 17px;
    font-weight: 200;
    color: #f80101;
}
textarea, input{
    font-size: 15px;
    color: mediumblue;
}
table, td{
    border: 2px solid #7183a0;
    font-size: 25px;
    color: white;
}
#1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
}

.container  {
    width: 100%;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

.block {
    width: 75px;
    height: 75px;
    margin: 25px;
    border: 2px solid #333;
}

.active {
    background: lavender;
}

.hide {
    display: none;
}

#keyboard {
    margin-top: 20px;
    display: inline-block;
    border: 2px solid darkslategray;
    border-radius: 10px;
    padding: 2px;
}

.itemKey:hover {
    background-color: lavender;
}

.itemKey {
    width: 50px;
    height: 50px;
    margin: 3px;
    padding: 3px;
    border: 2px solid grey;
    float: left;
}

.big {
    width: 90px;
    height: 50px;
}

.B {
    width: 120px;
    height: 50px;
}

.space {
    width: 390px;
    height: 50px;
}

.clearfix {
    display: block;
    width: 100%;
    clear: both;
}